<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mercury</key>
	<dict>
		<key>diameter</key>
		<integer>4879</integer>
		<key>diffuseTexture</key>
		<string>2k_mercury</string>
		<key>orbitalRadius</key>
		<integer>57909050</integer>
		<key>orbitalPeriod</key>
		<integer>88</integer>
		<key>rotationalPeriod</key>
		<integer>5</integer>
		<key>name</key>
		<string>Mercury</string>
	</dict>
	<key>venus</key>
	<dict>
		<key>diameter</key>
		<integer>12103</integer>
		<key>diffuseTexture</key>
		<string>2k_venus_surface</string>
		<key>orbitalRadius</key>
		<integer>108208000</integer>
		<key>orbitalPeriod</key>
		<integer>224</integer>
		<key>rotationalPeriod</key>
		<integer>7</integer>
		<key>rotationDirectionIsForward</key>
		<false/>
		<key>name</key>
		<string>Venus</string>
	</dict>
	<key>earth</key>
	<dict>
		<key>diameter</key>
		<integer>12756</integer>
		<key>diffuseTexture</key>
		<string>2k_earth_daymap</string>
		<key>normalTexture</key>
		<string>2k_earth_normal_map</string>
		<key>specularTexture</key>
		<string>2k_earth_specular_map</string>
		<key>orbitalRadius</key>
		<real>149598023</real>
		<key>orbitalPeriod</key>
		<integer>365</integer>
		<key>rotationalPeriod</key>
		<integer>6</integer>
		<key>name</key>
		<string>Earth</string>
	</dict>
	<key>mars</key>
	<dict>
		<key>diameter</key>
		<integer>6792</integer>
		<key>diffuseTexture</key>
		<string>2k_mars</string>
		<key>orbitalRadius</key>
		<integer>228000000</integer>
		<key>orbitalPeriod</key>
		<integer>687</integer>
		<key>rotationalPeriod</key>
		<integer>12</integer>
		<key>name</key>
		<string>Mars</string>
	</dict>
	<key>jupiter</key>
	<dict>
		<key>diameter</key>
		<integer>142984</integer>
		<key>diffuseTexture</key>
		<string>2k_jupiter</string>
		<key>orbitalRadius</key>
		<real>778000000</real>
		<key>orbitalPeriod</key>
		<integer>4330</integer>
		<key>rotationalPeriod</key>
		<integer>10</integer>
		<key>name</key>
		<string>Jupiter</string>
	</dict>
	<key>saturn</key>
	<dict>
		<key>diameter</key>
		<integer>120536</integer>
		<key>diffuseTexture</key>
		<string>2k_saturn</string>
		<key>orbitalRadius</key>
		<real>1433000000</real>
		<key>orbitalPeriod</key>
		<integer>10752</integer>
		<key>rotationalPeriod</key>
		<integer>11</integer>
		<key>name</key>
		<string>Saturn</string>
	</dict>
	<key>uranus</key>
	<dict>
		<key>diameter</key>
		<integer>51118</integer>
		<key>diffuseTexture</key>
		<string>2k_uranus</string>
		<key>orbitalRadius</key>
		<real>2872000000</real>
		<key>orbitalPeriod</key>
		<integer>30665</integer>
		<key>rotationalPeriod</key>
		<integer>16</integer>
		<key>name</key>
		<string>Uranus</string>
	</dict>
	<key>naptune</key>
	<dict>
		<key>diameter</key>
		<integer>49528</integer>
		<key>diffuseTexture</key>
		<string>2k_neptune</string>
		<key>orbitalRadius</key>
		<real>4498000000</real>
		<key>orbitalPeriod</key>
		<integer>60149</integer>
		<key>rotationalPeriod</key>
		<integer>8</integer>
		<key>name</key>
		<string>Neptune</string>
	</dict>
</dict>
</plist>
