<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diameter</key>
		<integer>4879</integer>
		<key>diffuseTexture</key>
		<string>2k_mercury</string>
		<key>orbitalRadius</key>
		<integer>57909050</integer>
		<key>orbitalPeriod</key>
		<integer>88</integer>
		<key>rotationalPeriod</key>
		<integer>5</integer>
		<key>name</key>
		<string>Mercury</string>
		<key>description</key>
		<string>Mercury is the smallest and innermost planet in the Solar System. Its orbital period around the Sun of 88 days is the shortest of all the planets in the Solar System. It is named after the Roman deity Mercury, the messenger to the gods.</string>
		<key>additionalDetails</key>
		<string>Radius: 1,516 mi Distance from Sun: 35.98 million mi Gravity: 3.7 m/s²</string>
		<key>gravity</key>
		<real>3.7</real>
	</dict>
	<dict>
		<key>diameter</key>
		<integer>12103</integer>
		<key>diffuseTexture</key>
		<string>2k_venus_surface</string>
		<key>orbitalRadius</key>
		<integer>108208000</integer>
		<key>orbitalPeriod</key>
		<integer>224</integer>
		<key>rotationalPeriod</key>
		<integer>7</integer>
		<key>rotationDirectionIsForward</key>
		<false/>
		<key>name</key>
		<string>Venus</string>
		<key>description</key>
		<string>Venus is the second planet from the Sun, orbiting it every 224.7 Earth days. It has the longest rotation period (243 days) of any planet in the Solar System and rotates in the opposite direction to most other planets. It has no natural satellite.</string>
		<key>additionalDetails</key>
		<string>Radius: 3,760 mi Distance from Sun: 67.24 million mi Gravity: 10.44 m/s²</string>
		<key>gravity</key>
		<real>8.869999999999999</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>12756</real>
		<key>diffuseTexture</key>
		<string>2k_earth_daymap</string>
		<key>normalTexture</key>
		<string>2k_earth_normal_map</string>
		<key>specularTexture</key>
		<string>2k_earth_specular_map</string>
		<key>orbitalRadius</key>
		<real>149598023</real>
		<key>orbitalPeriod</key>
		<integer>365</integer>
		<key>rotationalPeriod</key>
		<integer>6</integer>
		<key>name</key>
		<string>Earth</string>
		<key>description</key>
		<string>Earth otherwise known as the World[n 6] or the Globe, is the third planet from the Sun and the only object in the Universe known to harbor life. It is the densest planet in the Solar System and the largest of the four terrestrial planets.</string>
		<key>additionalDetails</key>
		<string>Radius: 3,959 mi Age: 4.543 billion years Population: 7.347 billion</string>
		<key>gravity</key>
		<real>9.81</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>6792</real>
		<key>diffuseTexture</key>
		<string>2k_mars</string>
		<key>orbitalRadius</key>
		<integer>228000000</integer>
		<key>orbitalPeriod</key>
		<integer>687</integer>
		<key>rotationalPeriod</key>
		<integer>12</integer>
		<key>name</key>
		<string>Mars</string>
		<key>description</key>
		<string>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, after Mercury. Named after the Roman god of war, it is often referred to as the &quot;Red Planet&quot; because the iron oxide prevalent on its surface gives it a reddish appearance.</string>
		<key>additionalDetails</key>
		<string>Radius: 2,106 mi Distance from Sun: 92.96 million mi Gravity: 9.807 m/s²</string>
		<key>gravity</key>
		<real>3.69</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>142984</real>
		<key>diffuseTexture</key>
		<string>2k_jupiter</string>
		<key>orbitalRadius</key>
		<real>778000000</real>
		<key>orbitalPeriod</key>
		<integer>4330</integer>
		<key>rotationalPeriod</key>
		<integer>10</integer>
		<key>name</key>
		<string>Jupiter</string>
		<key>description</key>
		<string>Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a giant planet with a mass one-thousandth that of the Sun, but two and a half times that of all the other planets in the Solar System combined.</string>
		<key>additionalDetails</key>
		<string>Radius: 43,441 mi Distance from Sun: 483.8 million mi Gravity: 24.79 m/s²</string>
		<key>gravity</key>
		<real>24.79</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>120536</real>
		<key>diffuseTexture</key>
		<string>2k_saturn</string>
		<key>orbitalRadius</key>
		<real>1433000000</real>
		<key>orbitalPeriod</key>
		<real>10752</real>
		<key>rotationalPeriod</key>
		<integer>11</integer>
		<key>name</key>
		<string>Saturn</string>
		<key>description</key>
		<string>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius about nine times that of Earth.</string>
		<key>additionalDetails</key>
		<string>Radius: 36,184 mi Distance from Sun: 890 million mi Gravity: 10.44 m/s²</string>
		<key>gravity</key>
		<real>10.44</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>51118</real>
		<key>diffuseTexture</key>
		<string>2k_uranus</string>
		<key>orbitalRadius</key>
		<real>2872000000</real>
		<key>orbitalPeriod</key>
		<integer>30665</integer>
		<key>rotationalPeriod</key>
		<integer>16</integer>
		<key>name</key>
		<string>Uranus</string>
		<key>description</key>
		<string>Uranus is the seventh planet from the Sun. It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune.</string>
		<key>additionalDetails</key>
		<string>Radius: 15,881.6 mi Distance from Sun: 1,784.83 million mi Gravity: 8.87 m/s²</string>
		<key>gravity</key>
		<real>8.869999999999999</real>
	</dict>
	<dict>
		<key>diameter</key>
		<real>49528</real>
		<key>diffuseTexture</key>
		<string>2k_neptune</string>
		<key>orbitalRadius</key>
		<real>4498000000</real>
		<key>orbitalPeriod</key>
		<integer>60149</integer>
		<key>rotationalPeriod</key>
		<integer>8</integer>
		<key>name</key>
		<string>Neptune</string>
		<key>description</key>
		<string>Neptune is the eighth and farthest known planet from the Sun in the Solar System. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet.</string>
		<key>additionalDetails</key>
		<string>Radius: 15,881.6 mi Distance from Sun: 15,387.6 million mi Gravity: 11.15 m/s²</string>
		<key>gravity</key>
		<real>11.15</real>
	</dict>
</array>
</plist>
